html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	height: 100vh;
	width: 100%;
	scroll-behavior: smooth;
}

ul,
ol {
	list-style: none;
	color: #15002F;
	line-height: 27px;
}

ul li:before {
	content: "- "
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: 13px;
}

.column a {
	color: #15002F;
}

a,
u {
	text-decoration: none;
	color: #fff;
}

a:active {
	color: #FFD31B;
}
a:hover {
	color: #FFD31B;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 50px;
	color: #FFD31B;
	padding-top: 25px;
	margin-bottom: 20px;
	text-align: center;
}

.numbers {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 50px;
	line-height: 73px;
	display: inline;
	color: #FFD31B
}

.number-title {
	margin-left: 10px;
	display: inline;
}

#landing-texto {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500;
	line-height: 46px;
	font-size: 30px;
	color: #F1EEF1;
	margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    color: #3A1656;
    margin: 5px 0 0 0;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
	line-height: 31px;
	color: #3A1656;
}

h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 31px;
	color: #3A1656;
}

.mainheader {
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color: #15002F;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 90;
}

.mainheader.withmenu {
	flex-wrap: wrap;
}

#sub-menu {
	width: 100%;
	background: #F1EEF1;
	height: 60px;
}

.horizontal-list {
	height: 100%;
	align-items: center;
}

.horizontal-list li {
	align-items: center;
	border-right: 2px solid #FFD31B;
}

.horizontal-list li:last-child {
	border-right: none;
}

.horizontal-list li::before {
	content: ""
}

.mainfooter {
	height: 220px;
	background-image: url(../img/bg/mobile_bg.png);
	width: 100%;
	color: #FFF;
	font-size: 10px;
}

.mainfooter .email {
	display: block;
	font-size: 16px;
	margin: 20px 0 15px 0;
	font-weight: lighter;
}

.mainfooter .follow {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 25px;
	font-weight: 500;
	display: inline-block;
	margin-top: 25px;
}

.mainfooter .socials {
	font-size: 3.5rem;
	margin: 10px 0;
	justify-content: space-between;
	display: flex;
}

.center {
	text-align: center;
}

.mainfooter span {
	display: block;
}

.margin {
	width: calc(100vw - 80px);
	margin: 0 auto;
}

.padding-y {
	padding-top: 30px;
}

.copyright {
	font-size: 10px;
	font-weight: 300;
}

#landing {
	height: 100vh;
}

#landing .margin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
}

#landing  h1 span {
	margin-bottom: 20px;
	border-left: none;
	color: #FFD31B;
	padding-left: 0;

}
#landing  h1  {
	margin-bottom: 20px;
	border-left: none;
	color: #FFD31B;
	padding-left: 0;

}

#landing  h1 span:before {
	content: 'HELLO';
	animation: animate infinite 10s;
}

@keyframes animate {
	0% {
		content: 'HELLO';

	}
25% {
		content: 'HOLA';

	}
	50% {
		content: 'SHALOM';

	}
	75% {
		content: 'OI';
	}

}

.navigation {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 1;
	background: #15002F;
	top: 0;
	text-align: center;
}

.navigation-list {
    font-size: 30px;
    line-height: 70px;
}

.navigation-list li:before {
	content: none;
}

.hide {
	display: none;
}

#landing {
	background-image: url(../img/bg/mobile_bg.png);
 	background-repeat: no-repeat;
	background-size: cover;
}

.brand,
#menu {
	position: relative;
	z-index: 2;
	background: none;
	border: none;
	height: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#menu {
    margin-right: 20px;
    font-size: 30px;
    color: #FFD31B;
}

#menu:focus {
	outline: none;
}

.brand {
	font-weight: 300;
	font-size: 30px;
	color: #fff;
	margin-left: 40px;
}

.withmenu+main {
	height: calc(100vh - 70px);
}

main {
	height: calc(100vh - 70px);
}

.no-scroll {
	overflow: hidden;
}

.top-margin {
	margin-top: 150px;
}

.view-port {
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 27px;
	font-size: 16px;
}

.arrow-portfolio {
	position: absolute;
	bottom: 14px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	background: url("../iconos/arrow.svg");
	width: 25px;
	height: 29px;
}

#projectos {
	padding-top: 10px;
}

.line-work {
	width: 50px;
	height: 8px;
	background: #FFD31B;
	border: none;
	margin: 30px 0 0 0;
}

.my-work {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 40px;
	color: #3A1656;
	font-weight: 600;
	display: block;
	margin: 5px 0 30px 0;
}


/*Card css*/

.card {
	width: 100%;
	background: #FFF;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1607843137);
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	padding-bottom: 30px;
	margin-bottom: 40px;
}

.card_thumb {
	position: relative;
	height: 280px;
	border-bottom: 4px solid #FFD31B;
}

.card_thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.card_content {
	margin: 10px 20px 0px 20px;
}

.card_content p {
	margin: 20px 0;
}

.card footer a {
	display: inline-block;
	background: #FFF;
	padding: .45em 1em;
	/* width: 215px; */
	color: #15002F;
	font-weight: 700;
	letter-spacing: .2px;
	font-size: 16px;
	border-radius: 30px;
	border: 1px solid #15002F;
}

.card footer .fa-arrow-right {
	margin-left: 6px;
}

.card header h2 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 30px;
	color: #3A1656;
	font-weight: 600;
	margin: 20px 0 5px 0;
}

.card header span {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #BAA2CE;
	font-weight: 300;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #15002F;
    margin-top: 20px;
}

.no-marging-p {

	margin-top: 5px;
}

.doble-margin {
	margin: 15px 0 30px 0;
}

.p-bold {

	font-weight: 700;

}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	color: #15002F;
	border-left: 3px solid #FFD31B;
	padding-left: 12px;
}

.scroll {

}

/* End Card */


/* Switcher */

.mini-btn  .uxuiswitch {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  z-index: 99;
  top: unset;
}

.uxuiswitch {
	position: relative;
	width: 74px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
	top: 10px;
	height: 44px;
}

.uxuiswitch-checkbox {
	display: none;
}

.uxuiswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #1D1C1D;
	border-radius: 36px;
}

.uxuiswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.uxuiswitch-inner:before,
.uxuiswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	padding: 0;
	line-height: 41px;
	font-size: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	box-sizing: border-box;
}

.uxuiswitch-inner:before {
	content: "UI";
	padding-left: 6px;
	background-color: #FFD31B;
	color: #463902;
}

.uxuiswitch-inner:after {
	content: "UX";
	padding-right: 6px;
	background-color: #F1EEF1;
	color: #1D1C1D;
	text-align: right;
}

.uxuiswitch-switch {
	display: block;
	width: 30px;
	margin: 8px;
	background: #DBD2DB;
	position: absolute;
	top: -2.5px;
	bottom: 0;
	right: 29px;
	border: 2px solid #1D1C1D;
	border-radius: 36px;
	transition: all 0.3s ease-in 0s;
	height: 30px;
}

.uxuiswitch-checkbox:checked+.uxuiswitch-label .uxuiswitch-inner {
	margin-left: 0;
}

.uxuiswitch-checkbox:checked+.uxuiswitch-label .uxuiswitch-switch {
	right: -4px;
	background-color: #FDE16D;
}

/* Switcher */

/* Changes for ux */

#ux .brand {
	color: #666166;
}

#ux #menu {
	color: #666166;
}

#ux .mainheader {
	background-color: #DBD2DB;
}

#ux #landing {
	background-image: none;
	background-color: #F1EEF1;
}

#ux #landing h1 span{
	color: #BFB6BF;
}

#ux h3 {
	color: #A69DA6
}

#ux .view-port {
	color: #666166;
}

#ux .arrow-portfolio {
	background: url("../iconos/arrowux.svg");
}

#ux .line-work {
	background: #BFB6BF;
}

#ux .my-work {
	color: #A69DA6;
}

#ux .card_thumb img {
	display: none
}

#ux .card_thumb {
	background: #F1EEF1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 4px solid #A69DA6;
}

#ux .card_thumb:before {
	font-family: "Font Awesome 5 Free";
	content: "\f03e";
	font-size: 120px;
	color: #fff;
	-webkit-text-stroke: #F1EEF1 5px;
}

#ux .card header h2 {
	color: #A69DA6;
}

#ux .card_content p {
	color: #A69DA6;
}

#ux .navigation {
	background: #A69DA6;
}

#ux .card footer a {
	color: #A69DA6;
	border: 1px solid #666166;
}

#ux .mainfooter {
	background-image: none;
	background-color: #DBD2DB;
}

#ux a:hover {
	color: #666166;
}
/* Changes for ux */


/*laplatea*/

.hide-mob {
	display: none;
}
.hide-desk {
	display: unset;
}


.top-image {
	margin: 20px 0 20px 0;
}


h4 {
	  font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #FFF;
    text-align: center;
}

.top-image img {
    width: 100%;
    object-fit: contain;
    min-height: 300px;
}
.rounded-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.23);
}
.rounded-image {
    margin: 20px 0 50px 0;
    height: 200px;
}
.rounded-imagetext {
	margin: 40px 0 20px 0;
}
.rounded-imagetext img {
    width: 100%;
    object-fit: cover;
}
.rounded-imagegif.platea2 {
    margin-top: 40px;

}
.rounded-imageno img {
	width: 100%;
	border-radius: 8px;
	object-fit: contain;
}
.rounded-imageno {
    margin: 20px 0 20px 0;

}
.rounded-imagegif img {
	width: 100%;
	border-radius: 8px;
	object-fit: cover;
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.23);
}
.rounded-imagegif {
    margin: 20px 0 20px 0;

}
.image-footer2 {
	margin-bottom: 15px;
}

.scrolling-wrapper2 img {
    object-fit: cover;
    border-radius: 10px;
    margin-right: 17px;
		height: 200px
}

.scrolling-wrapper2::-webkit-scrollbar {
	display: none;
}

.scrolling-wrapper2 {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 20px;
	padding-left: 35px;
}


.friends {
	text-decoration: none;
	color: #15002F;
}

.image-footer {
    color: #15002F;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
		font-weight: 300;
}

.line-titles {
    height: 1px;
    background: #FFD31B;
    border: none;
    margin: 20px 0 20px 0px;
}

.title-heading{
	color: #15002F;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.line-main-title {
    width: 25px;
    height: 6px;
    background: #FFD31B;
    border: none;
    margin: 20px 0 15px 0;
    position: absolute;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

.scrolling-wrapper img {
    object-fit: cover;
    border-radius: 10px;
    margin-right: 17px;
    height: 200px;
}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 20px;
	padding-left: 35px;
}

.image-scroll {
	display: inline-block;
}

.teatros {
	margin: 25px 0 40px 0;
	width: 100%;
}

.bold-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	color: #15002F;
}

.section-title2 {
	margin-bottom: 20px;
}
.line-second-title {
	width: 145px;
	height: 2px;
	background: #FFD31B;
	border: none;
	margin: 1px 0 15px 0;
	position: absolute;

}

#super-top {
	background-image: url(../img/laplatea/platea0.png);
	background-repeat: no-repeat;
	background-size: cover;
	}

#platea .top-page {
	    margin-top: 130px;
}


/*404*/

#construction {
	background-image: url(../img/error/404.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#construction {
	height: 95%;
}

#construction .margin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
}

#go-back a{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #15002F;
	font-size: 20px;
	font-weight: 700;
}

#go-back {
	text-align: center;
	margin-bottom: 30px;
}

#ux #construction {
	background-image: url(../img/error/404ux.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.fa-arrow-left:before {
    content: "\f060";
		font-size: 18px;
}

#ux .fa-arrow-left:before {
    color: #666166;
    content: "\f060";
		font-size: 18px;
}

#ux #go-back a{
	color: #666166;
}
/*End 404*/


/*desktop*/

@media only screen and (min-width: 768px) {


	/*home*/
	h1 {
	    font-family: 'Montserrat Alternates', sans-serif;
	    font-style: normal;
	    font-weight: 600;
	    font-size: 55px;
	    line-height: 50px;
	    color: #FFD31B;
	    padding-top: 25px;
	    margin-bottom: 20px;
	    text-align: center;
	}

	h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 31px;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #3A1656;
}

	#landing {
		background-image: url(../img/bg/home_bg_dk.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#menu {
		display: none;
	}
	.margin {
		width: calc(100vw - 284px);
		margin: 0 auto;
	}
	#landing h3 {
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 500;
		line-height: 56px;
		font-size: 38px;
		color: #F1EEF1;
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
	}
	.uxuiswitch-inner:before {
		padding-right: 40px;
	}
	.hide {
		display: block;
	}
	.navigation {
		justify-content: flex-end;
		background-color: transparent;
		height: initial;
		position: initial;
		width: auto;
		transition: initial;
		z-index: 99;
	}
	.navigation-list {
		align-items: center;
		display: flex;
		justify-content: center;
		font-size: 18px;
		;
	}
	.navigation-link {
		padding: 2rem;
		list-style: none;
	}
	#landing h1 {
		font-family: 'Montserrat Alternates', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 90px;
		text-align: center;
	}
	#landing h1 {
		margin-bottom: 60px;
		border-left: none;
		color: #FFD31B;
		padding-left: 0;
	}
	.card {
		max-width: 841px;
		width: 100%;
		height: 350px;
		background: #FFF;
		display: flex;
		flex-direction: row;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1607843137);
		overflow: hidden;
		position: relative;
		border-radius: 15px;
		padding-bottom: 0;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.card_thumb {
		position: relative;
		height: 400px;
		border-right: 4px solid #FFD31B;
		width: 50%;
		border-bottom: 0px;
	}

	.card header h2 {
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 43px;
		color: #3A1656;
		font-weight: 600;
		margin: 20px 8px 8px 15px;
	}
	.card header span {
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		color: #BAA2CE;
		font-weight: 300;
		margin: 20px 8px 8px 18px;
	}
	.card_content p {
		margin: 20px 8px 81px 18px;
	}
	.card footer a {
		background: #FFF;
		color: #15002F;
		font-weight: 700;
		letter-spacing: .2px;
		font-size: 16px;
		border-radius: 30px;
		border: 1px solid #15002F;
		width: 250px;
		height: 50px;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		line-height: 50px;
		text-align: center;
	}
	.card footer a:hover{
		color: #15002F;
		background-color: #FFD31B;
		border: 1px solid #15002F;
	}
	.card_content {
		margin: 10px 20px 0px 20px;
		width: 50%;
	}

	.mainfooter .socials {
    font-size: 3.5rem;
    margin: 10px 100px;
    justify-content: space-evenly;
    display: flex;
}

.mainfooter {
    height: 250px;
    background-image: url(../img/bg/mobile_bg.png);
    width: 100%;
    color: #FFF;
    font-size: 10px;
}

.mainfooter .follow {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    padding-top: 29px;
    margin-bottom: 20px;
}
.mainheader.withmenu {
height: 70px;
}

/*404*/

#construction {
	background-image: url(../img/error/404_desktop.png);
    background-repeat: no-repeat;
		margin-top: 50px;
    background-size: 1200px;
    background-position: center;
}
#construction {
	height: 90%;
}

#construction .margin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
}
/*404*/

/*platea*/
.margin {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.top-image {
    margin: 5px 0 20px 0;
}

.top-image img {
    width: 100%;
    object-fit: contain;
    max-height: 600px;
}

.image-footer {
    color: #15002F;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    margin: 30px 0;
		font-weight: 300;
}

.column {
	display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.hide-desk {
    display: none;
}

.rounded-image img {
	border-radius: 8px;
object-fit: cover;
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.23);
max-width: 870px;
height: 481px;
display: block;
}

.line-main-title {
    width: 177px;
    height: 6px;
    background: #FFD31B;
    border: none;
    margin: 20px 0 15px 0;
    position: absolute;
}

.scrolling-wrapper img {
    object-fit: cover;
    border-radius: 10px;
    margin-right: 17px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.teatros {
    margin: 25px 0 40px 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rounded-image {
    margin: 20px 0 50px 0;
		height: auto;
}

.rounded-imageno img {
    border-radius: 8px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}
.rounded-imagetext img {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}
.line-second-title {
    width: 440px;
    height: 2px;
    background: #FFD31B;
    border: none;
    margin: 1px 0 15px 0;
    position: absolute;
}

.scrolling-wrapper2 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 20px;
    padding-left: 35px;
    width: 658px;
    margin: 50px auto;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 20px;
    padding-left: 35px;
    margin: 50px auto;
    display: flex;
}
.scrolling-wrapper img {
    object-fit: cover;
    border-radius: 10px;
    margin-right: 17px;
    height: 200px;
}
.rounded-imagetext {
    margin: 40px 0 80px 0;
}

.rounded-imagegif img {
    width: 676px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin: 60px auto;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.23);
}
/*platea*/



  /* Changes for ux */


  /*home */

	#ux #landing h3 {
		color: #4D494D;
	}
	#ux .navigation {
		background-color: transparent;
	}
	#ux .navigation-link {
		color: #666166;
	}

	#ux .card_thumb {
    background: #F1EEF1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid #A69DA6;
}

#ux .card_thumb {
    position: relative;
    height: 358px;
    width: 50%;
}
#ux .mainfooter {
    color: #FFF;
}

#ux .card footer a:hover{
	color: #f2f2f2;
	background-color: #A69DA6;
	border: 1px solid #666166;
}

#ux a, u {
	color: #FFF;
}

#ux #construction {
	background-image: url(../img/error/404_desktopux.png);
    background-repeat: no-repeat;
		margin-top: 50px;
    background-size: 1200px;
    background-position: center;
}
	/*home UX*/

/*platea ux*/

#ux #super-top {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F1EEF1;
}

#ux h1 {
    color: #A69DA6;
}

#ux h4 {
    color: #666166;
}

#ux #sub-menu {
    width: 100%;
    background: #666166;
    height: 60px;
}

#ux .horizontal-list li {
    border-right: 2px solid #FFF;
}

#ux .image-footer {
    color: #4D494D;
}
#ux .title-heading {
    color: #4D494D;
}

#ux .line-titles {
    background: #BFB6BF;
}
#ux p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #A69DA6;
    margin-top: 20px;
}
#ux .line-main-title {
    background: #A69DA6;
  }
#ux .numbers {
    color: #4D494D;
}
#ux .bold {
    color: #A69DA6;
    border-left: 3px solid #A69DA6;
  }
#ux .bold-text {
    color: #A69DA6;
}
#ux .line-second-title {
    background: #A69DA6;

}

#ux .friends {
	text-decoration: none;
	color: #A69DA6;
}
#ux a:active {
	color: #1D1C1D;
}
#ux a:hover {
	color: #1D1C1D;
}

}
